.lang {
  display: flex;
  justify-content: center;
}

.lang li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

li {
  list-style-type: none
}

.popular {
  font-size: 25px;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul {
  padding: 0;
}

.space-list{
  margin-bottom: 7 px
}

.avatar {
  width: 150 px !important;
  border-radius: 50px;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.popular-rank {
  font-size: 20px;
  margin: 10px;
}